html{
    background: white;
}
body{
    width: 95%;
    min-width: 480px;
    margin: 0 auto;
    padding: 20px;
}
#navbar{
    padding: 15px 40px 15px 40px;
    background: #292727;
    border-radius: 25px 25px 0px 0px;
}
#navbar a{
    cursor: pointer;
    font-family: Arial;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px 16px 20px;
}
#navbar .active{
    opacity: 0.5;
}

.container{

    min-height: 480px;
    border-radius: 0px 0px 25px 25px;
    border: 2px solid;
    border-color: black;
    display: none;
}
div.active{ 
    display: block;
}

#starwars{
    overflow: hidden;
    margin: 0 auto;
    background: black;
}
#spotify{
    padding: 5% 5% 5% 5%;
    background: white;
}

#search{
    color: #fff;
    background-color: #2ebd59;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 500px;
    padding: 12px 47px 8px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-family: Arial;
    border-width: 0;
    min-width: 130px;

}

#query{
    display: inline;
    width: 70%;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0;
}

.flow {
  transform-origin: 50% 0%;
}

.flow > pre {
  font-family: "Arial", sans-serif;
  color: #ffd61d;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  white-space: pre-line;
  line-height: 1.1em;
}

.reading-animation {
  animation: reading 50s linear 0s infinite forwards;
}

@keyframes reading {
  from {
    transform: translate3d(0, 0px, -200px);
  }
  to {
    transform: translate3d(0, -115%, -200px);
  }
}

#movies {
  position: relative;
  left: 20px;
  top: 20px;
  z-index: 1;
  color: white;
}

#movies li {
  list-style-type: none;
  padding-right: 20px;
  cursor: pointer;
  font-family: 'Courier New', monospace;
}

#movies li:hover {
  color: cornflowerblue;
  text-decoration: underline;
}
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}
